body{
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
}
.bold{
    font-family: outfit;
    font-weight: bold;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}
.regular{
    font-family: outfit;
    font-weight: normal;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
img{
    max-width: 300px;
    border-radius: 10px;
}
div{
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

